loguru
tqdm
networkx
numpy
scipy
pandas
matplotlib
matplotlib-venn
scikit-learn
streamlit
requests
orjson
emoji
unidecode
pymongo
torch
gensim
pickledb
fasttext
nltk
torch-sparse
torch-scatter
plotly
wordcloud
streamlit-agraph